@import url(http://fonts.googleapis.com/css?family=Shadows+Into+Light);
h1{
  background-color: #422C1F;
  text-shadow: 0px 0px 7px #FFFFFF;
  color:#503526 ;
  width:20%;
  margin-left:2%;
  padding: 0;
  font-family: "Tempus Sans ITC", "Trebuchet MS", "Segoe Script", "MV Boli", cursive;
  font-size:200%;
  height:100%;
  clear: left;


}

header{
  background-color: #422C1F;
  width:98%;
  height: 5%;
}

.searchbox{

width:50%
}

#results .record a{
  color: #52CC2D ;
}

#results .record h3 a{
  color:#2054CC     ;
}

h3{
padding:0;
margin:0;

}

#results{
       padding-left:5%;
       margin-left:15%;
       margin-top: 5%;
       width: 50%;
       border-left: solid;
       border-color: #808080;


}

#centralpanel   {
       margin-top:5%;
}

h4{
   margin:0;
   margin-left:10%;
   margin-top: 2%;
   color:#808080  ;

}



